.hide-modal {
  display: none;
}

.show-modal {
  display: flex;
  position: absolute;
  justify-content: center;
  background-color: var(--form-modal-container);
  height: 100vh;
  width: 100vw;
  z-index: 0;
}
