.loginForm{
    position: absolute;
    top: 0;
    left: 0; 
    height: 100vh ;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    color: black;
    padding-top: 20px;
}

.formContainer{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: deeppink;
}


.signup{
    position: absolute;
    left: 40px;
    margin-top: 40px;
}
.login{
    position: absolute;
    left: 40px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;

}

/* .signupForm{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.signupForm2{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 14px;
    border-radius: 10px;
    height: 400px;
    width: 600px;
}


.nameField{
    grid-area: name;
    display: flex;
    flex-direction: column;
}
.emailField{
    grid-area: email;
    display: flex;
    flex-direction: column;
}

.phoneField{
    grid-area: phone;
    display: flex;
    flex-direction: column;
}
.passwordField{
    grid-area: password;
    display: flex;
    flex-direction: column;
}

.calendar{
    grid-area: dob;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submitButton{
    grid-area: submit;
}

.registerForm form {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: auto;
    grid-template-areas: 
    "name email "
    "phone password"
    "dob dob"
    "submit submit";
}

.selectButtons{
    display: flex;
    justify-content: center;
}

.tButtonA{
    height: 30px;
    width: 85px;
    background-color: #84CEEB;
    border-radius: 0px 10px 10px 0px;
}

.lButtonA{
    height: 30px;
    width: 85px;
    background-color: #84CEEB;
    border-radius: 10px 0px 0px 10px;
}
.tButtonD{
    height: 30px;
    width: 85px;
    background-color: #8860D0;
    border-radius: 0px 10px 10px 0px;
}

.lButtonD{
    height: 30px;
    width: 85px;
    background-color: #8860D0;
    border-radius: 10px 0px 0px 10px;
}

.selectButtons button:focus{
    outline: 0;
}



.registerForm input{
    background-color: transparent;
    color: #84CEEB;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid black;
    font-size: 100%;
    padding-left: 10px;
    width: 75%;
}

 .registerForm input::placeholder{ 
    color: #880000;
}

.registerForm input:focus{
    outline: 0;
}

