.addApt-container{
  margin: auto;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.tenant-contacts {
    margin: 0px 300px;
    overflow: scroll;
    background-color: #7149B0;
    margin-bottom: 50px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }