 p, h1, h2{
  text-align: center;
  /* letter-spacing: 0.4em; */
}
 li {
   list-style-type: none;
 }

 .tenant-contacts {
   margin: 0px 300px;
   overflow: scroll;
   background-color: #7149B0;
   margin-bottom: 50px;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
 }

.ticket-dash-info {
  margin: 0px 300px;
  overflow: scroll;
  background-color: #7149B0;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
