.searchApt-container{
  margin: auto;
  display: flex;
  justify-content: center;
  height: 100%;
  position: absolute;
  width: 100%;
  flex-direction: column;
}
  
.apartment-list {
  margin: 0px 300px;
  position: unset;
  z-index: auto;
  overflow: scroll;
  background-color: #7149B0;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.modalFieldOut{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 0.2;
  background-color: black;
}

.modalContainer{
  position: absolute;
  z-index: 2;
  top: 20%;
  height: 55%;
  width: 60%;
}

.modalInnerField{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--dark-blue);
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 10% 90%;
  grid-template-areas: 
    ". . esc"
    ". body ."
}

.modalButton{
  grid-area: esc;
  font-size: 35px;
  border: 1px solid var(--light-blue);
  font-family: sans-serif;
}

.modalButton:hover{
  cursor: pointer;
  animation: glowing 2000ms infinite;
}

.modalAptInfo{
  grid-area: body;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #ddd;
  animation: fadein .5s linear;
  animation: fadeout .5s linear;
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeout {
  100% { opacity: 1; }
  0% { opacity: 0.1; }
}

@keyframes glowing {
  0% { box-shadow: 0 0 -10px #8860D0; }
  40% { box-shadow: 0 0 20px #8860D0; }
  60% { box-shadow: 0 0 20px #8860D0; }
  100% { box-shadow: 0 0 -10px #8860D0; }
}

.selectAptForm input[type=submit]{
  grid-area: submit;
  height: 27px;
  width: auto;
  background-color: #8860D0;
  border: none;
  color:black;
  font-size: 100%;
  border-radius: 10px;
  padding: 3px 15px;
}

.selectAptForm input[type=submit]:hover{
  grid-area: submit;
  background-color: #84CEEB;
  color: #8860D0;
  border: none;
  animation: glowing 2000ms infinite;
  cursor: pointer;
}