@keyframes crt-glowing {
    0% { box-shadow: 0 0 -10px var(--medium-blue); }
    40% { box-shadow: 0 0 20px var(--medium-blue); }
    60% { box-shadow: 0 0 20px var(--medium-blue); }
    100% { box-shadow: 0 0 -10px var(--medium-blue); }
  }

.tik-dash-ctn {
  display: flex;
  flex-direction: column;
}

.tik-mdl-ctn {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0%;
  top: 0%;
  justify-content: center;
}

.td-tik-ctn, .ld-tik-ctn {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 80%;
  background-color: var(--dark-purple);
}

.td-tik, .ld-tik {
  display: flex;
  flex-direction: column;
  margin: .5em 1em .5em 1em;
  font-size: 1em;
  height: 4em;
  color: #000;
  border-radius: .2em;
  background-color: var(--dash-bg);
}

.td-tik:hover, .ld-tik:hover {
  background-color: var(--light-purple);
  border: none;
  animation: crt-glowing 1500ms infinite;
}

.mdl-indv-tik {
  display: flex;
  justify-content: center;
  /* position: absolute; */
  width: 35%;
  height: 80%;
  right: 35%;
  bottom: 10%;
  background-color: var(--tik-modal);
  color: #000;
  background-color: rgba(255, 255, 255, .8);
}

.indv-tik {
  align-self: center;
  background-color: var(--light-purple);
  width: 70%;
  height: 80%;
}

.btns-ctn {
  display: flex;
  flex-direction: row;
}

.create-new-tik-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--medium-blue);
  height: 2em;
  width: 8.2em;
  border-radius: .5em;
  margin: .5em 1em .5em 1em;
}

.create-new-tik-btn:hover {
  background-color: var(--light-purple);
  color: var(--medium-blue);
  animation: crt-glowing 1500ms infinite;
}

.arch-tik-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  height: 2em;
  width: 2em;
  border-radius: .5em;
  margin: .5em 1em .5em 1em;
}

.arch-tik-mdl-ctn {
}

/* .arch-mdl-indv-tik {
  display: flex;
  justify-content: center;
  width: 35%;
  height: 80%;
  right: 35%;
  bottom: 10%;
  background-color: var(--tik-modal);
  color: #000;
  background-color: rgba(255, 255, 255, .8);
} */
