:root {
  --dark-purple: #8860D0;
  --light-purple: #C1C8E4;
  --dark-blue: #5680E9;
  --medium-blue: #5AB9EA;
  --light-blue: #84CEEB;
  --modal-container: rgba(132, 206, 235, 0.65);
  --form-modal-container: rgba(88, 129, 233, 0.4);
  --landlord-tik-modal-container: rgba(193, 200, 228, .6)
}

/* css variables -- background-color: var(--dark-pruple) for example */
