html {
  margin: 0;
}

.burgerIcon{
  font-size: 20px;
  position: relative;
  top: 6px;
  left: 7px;

}

.App{
  width: 100%;
  height: -webkit-fill-available;
  display: flex;
  background-color: var(--dash-bg);
}
