html {
  margin: 0;
}

.burgerIcon{
  font-size: 20px;
  position: relative;
  top: 6px;
  left: 7px;

}

.App{
  width: 100%;
  height: -webkit-fill-available;
  display: flex;
  background-color: var(--dash-bg);
}

 /* @font-face {
  font-family: 'KingRichardItalic';
  src: url('./fonts/kingrichardit.ttf')format('truetype')
} */

/* @font-face {
  font-family: 'KingRichard';
  src: url('./fonts/kingrichardrg.ttf')format('truetype')
}

@keyframes glowing {
  0% { box-shadow: 0 0 -10px #8860D0; }
  40% { box-shadow: 0 0 20px #8860D0; }
  60% { box-shadow: 0 0 20px #8860D0; }
  100% { box-shadow: 0 0 -10px #8860D0; }
}
@keyframes glowing-alt {
  0% { box-shadow: 0 0 -10px navy; }
  40% { box-shadow: 0 0 20px navy; }
  60% { box-shadow: 0 0 20px navy; }
  100% { box-shadow: 0 0 -10px navy; }
}
@keyframes glowing-white {
  0% { box-shadow: 0 0 -10px white; }
  40% { box-shadow: 0 0 20px white; }
  60% { box-shadow: 0 0 20px white; }
  100% { box-shadow: 0 0 -10px white; }
}
*/
