.inboxContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.threadContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
}

.threadList {
  font-size: 20px;
}

/* Thread Messages Container */

.threadMsgContainer {
  /* border: rgba(255, 255, 255, 0.527) 1px solid; */
  /* border-radius: 10px; */
  margin: auto;
  width: 600px;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 12px;
  line-height: 1.3;
}

.msgContainer {
  display: flex;
  flex-direction: column;
}

.msgBody {
  /* border: 1px solid black; */
  border-radius: 8px;
  flex: 1 1 auto;
  margin: 6px 6px 0px 6px;
  padding: 7px 5px 0px 4px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.644);
}

.msgName {
  flex: 1 1 auto;
  margin: 0px 6px 0px 6px;
  text-transform: uppercase;
}

.msgDate {
  flex: 1 1 auto;
  margin: 0px 6px 0px 6px;
}

.msgInput[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}