.inboxContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.threadContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 46%;
}

.thread-header-text {
  height: 30%;
  width: 100%;
  margin: 0;
}

.thread-header-text h1, p {
  margin: 0;
  text-align: center;
}

.threadHeader {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 50px;
  color: white;
}

.threadSubtext {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 30px;
  color: white;
}

.threadInputContainer {
  height: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 35px;
}

.threadListContainer {
  /* border: solid white; */
  border-radius: 4px;
  /* padding-left: 20px; */
  background-color: #7149B0;
}

.threadList {
  font-size: 28px;
  font-family: 'Didact Gothic', sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* div.threadList:nth-child(odd) {
  text-decoration: none;
  color: white;
} */

.threadListContainer div div.threadList:nth-child(even) {
  text-decoration: none;
  color: black;
}
.threadList p {
  width: 100%;
  border-bottom: 2px dotted yellow;
}

/* .threadList p:hover {
  background-color: white;
} */

.threadList a:hover {
  color: black;
}

/* Thread Messages Container */

.threadMsgContainer {
  /* border: rgba(255, 255, 255, 0.527) 1px solid; */
  /* border-radius: 10px; */
  margin: auto;
  width: 600px;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 12px;
  line-height: 1.3;
}

.msgList {
  overflow: scroll;
  /* height: 580px; */
}

.msgContainer {
  display: flex;
  flex-direction: column;
}

.msgBody {
  /* border: 1px solid black; */
  border-radius: 8px;
  flex: 1 1 auto;
  margin: 6px 6px 0px 6px;
  padding: 7px 5px 0px 4px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.644);
}

.msgName {
  flex: 1 1 auto;
  margin: 0px 6px 0px 6px;
  text-transform: uppercase;
}

.msgDate {
  flex: 1 1 auto;
  margin: 0px 6px 0px 6px;
}

.msgInput[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}