.inboxContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  place-content: center;
  width: 100%;
  /* height: 100%; */
}

.threadContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 46%;
  padding-left: 20%;
}

.thread-header-text {
  height: 30%;
  width: 100%;
  margin: 0;
}

.thread-header-text h1 {
  margin: 0;
  text-align: center;
}

.threadHeader {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 50px;
  color: white;
}


.threadInputContainer {
  height: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 35px;
  display: flex;
  place-items: center;
}

.threadInput[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.threadInput[type=submit] {
  height: 43px;
  width: 18%;
  background-color: #84CEEB;
  border: none;
  color: black;
  border-radius: 4px;
  padding: 10px;
  margin: 3px;
  font-size: 16px;
}

.threadListContainer {
  /* border: solid white; */
  border-radius: 4px;
  /* padding-left: 20px; */
  background-color: #7149B0;
  width: 25%;
  overflow: scroll;
}

.threadList {
  font-size: 24px;
  font-family: 'Didact Gothic', sans-serif;
  /* padding-top: 5px; */
  padding-bottom: 5px;
  width: 100%;
  overflow-wrap: break-word;
}

/* div.threadList:nth-child(odd) {
  text-decoration: none;
  color: white;
} */

.threadListContainer div div.threadList:nth-child(even) {
  text-decoration: none;
  color: white;
}
.threadList p {
  width: 100%;
  /* border-bottom: 2px dotted yellow; */
  margin: 0;
  color: white;
  padding-left: 10px;
}

.threadList a {
  color: white;
}

/* .threadList p:hover {
  background-color: white;
} */

.threadList a:hover {
  color: black;
}


/* Thread Messages Container */

.threadMsgContainer {
  /* border: rgba(255, 255, 255, 0.527) 1px solid; */
  /* border-radius: 10px; */
  margin: auto;
  width: 600px;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 12px;
  line-height: 1.3;
  width: 35%;
  overflow: scroll;
}

.msg-back-link {
  color: black;
  font-size: 17px;
}

.msgList {
  overflow: scroll;
  height: 70vh;
}

.msgContainer {
  display: flex;
  flex-direction: column;
}

.msgBody {
  /* border: 1px solid black; */
  border-radius: 8px;
  flex: 1 1 auto;
  margin: 6px 6px 0px 6px;
  padding: 7px 5px 0px 4px;
  font-size: 20px;
  color: white;
}

.msgName {
  flex: 1 1 auto;
  margin: 0px 6px 0px 6px;
  text-transform: uppercase;
  font-size: 16px;
}

.msgDate {
  flex: 1 1 auto;
  margin: 0px 6px 0px 6px;
  font-size: 16px;
}

.msgInput[type=text], select {
  min-width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  
}


.msgInput[type=submit], select{
  height: 43px;
  width: 18%;
  background-color: #84CEEB;
  border: none;
  color: black;
  border-radius: 4px;
  padding: 10px;
  margin: 3px;
  font-size: 16px;
}

.threadList hr {
  margin: 0;
}
