.name-input, .email-input, .phone-input,  {
  font-family: inherit;
  font-size: 18px;
  display: block;
}
.profile-form {
  display: flex;
  flex-direction: column;
  margin: 0px 300px;
  overflow: scroll;
  background-color: #7149B0;
  margin-bottom: 50px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
* {
  /* font-size: 18px; */
}

.submit-btn{
  font-size: inherit;
  font-family: inherit;
}

hr {height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
