.form-modal-container {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  z-index: 2;
  background-color: var(--form-modal-container);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* justify-content: space-around; */
  align-self: center;
  width: 400px;
  height: 600px;
  background-color: var(--light-purple);
}

#form-subject {
  width: 300px;
  height: 50px;
  border: none;
}

#form-descr {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 200px;
  border: none;

}

/* #form-descr::input-placeholder {
  margin-left:
} */

.submit-ticket-btn {
  height: 50px;
  width: 250px;
  border: none;
}
