@font-face {
  font-family: 'Zillah';
  src: url('../../fonts/zillah/ZILLM.ttf');
}

.set-appt-container {
  position: absolute;
  flex-direction: column;
  display: flex;
  height: 500px;
  width: 950px;
  background-color: var(--dark-purple);
  z-index: 2 ;
  font-family: 'Zillah';
  bottom: 0;
  right: 0;
}

.date-time-select {
  font-size: 50px;
}

.appt-cal-container {
  display: flex;
  /* align-self: center; */
  justify-content: center;
  height: 80%;
  width: 80%;
  margin-top: 8%;
  margin-left: 10%;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  z-index: 3;
}

.appt-cal {
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 50%;
  margin-top: 2em;
}

.appt-cal p {
  font-size: 20px;
  margin: 0;
  margin-bottom: .5em;
}

.appt-cal label {
  font-size: 40px;
  margin-bottom: .5em;
}

.date-picker {
  text-align: center;
}

.appt-cal input[type=submit] {
  font-family: 'Zillah';
  font-size: 25px;
  margin-top: 1em;
  align-self: center;
  height: 40px;
  width: 300px;
  background-color: #8860D0;
  border: none;
  color:black;
  border-radius: 10px;
}

.appt-cal input[type=submit]:hover {
  background-color: #84CEEB;
  color: #8860D0;
  border: none;
  animation: glowing 2000ms infinite;
}
