.dash-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-msg {
  margin-top: 5em;
  margin-bottom: 50px;
}

.tenant-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: 500px;
  padding-top: 10px;
}

.apts-btn-container {
  display: flex;
  flex-direction: column;
}

.apts-btn, .open-tiks-btn {
  background-color: var(--dark-purple);
  border: 1px solid var(--light-blue);
  font-family: sans-serif;
  letter-spacing: 0.2em;
  font-size: 15px;
}

.apts-btn:hover, .open-tiks-btn:hover {
  background-color: var(--light-purple);
  color: var(--medium-blue);
  border: none;
  animation: glowing 2000ms infinite;
}

.apts-btn {
  width: 400px;
  margin-right: 10px;
  height: 5em;
  color: #fff;
}

.open-tiks-btn {
  margin-top: 1em;
  width: 400px;
  height: 3em;
  color: yellow;
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.close-modal-btn {
  position: absolute;
  top: 1em;
  right: 1em;
  height: 50px;
  width: 50px;
  background-color: var(--medium-blue);
  border: 1px solid var(--light-purple);
  font-size: 20px;
  color: var(--light-purple);
}

.close-modal-btn:hover {
  background-color: var(--dark-purple);
  border: 1px solid var(--medium-blue);
  color: var(--medium-blue);
  transition: .1s linear;
}

.hide-modal {
  /* animation: fadeout .5s linear; */
}

.show-modal {
  display: flex;
  position: absolute;
  visibility: visible;
  justify-content: center;
  margin-top: 5em;
  align-items: center;
  background-color: var(--form-modal-container);
  width: 900px;
  height: 500px;
  animation: fadein .5s linear;
}
