@font-face {
  font-family: 'Zillah';
  src: url('../../fonts/zillah/ZILLM.ttf');
}

.modal-container {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 85%;
  z-index: 0;
  background-color: var(--landlord-tik-modal-container);
}

.landlord-tiks-window-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
  align-self: center;
  width: 80%;
  height: 70%;
  background-color: var(--dark-blue);
  perspective: 1000;
  overflow-x: scroll;
}

.landlord-tik-front, .landlord-tik-back {
  margin: 0;
  /* justify-content: center; */
  font-family: 'Zillah';
  background-color: var(--light-purple);
  height: 350px;
  width: 200px ;
  overflow-y: scroll;
}

.landlord-tik-front {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 2em;
  justify-content: center;
  z-index: 1;
}

.landlord-tik-back {
  margin-left: 24px;
  margin-right: 20px;
  font-size: 1.8em;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.landlord-tik-front, p, .landlord-tik-back, p {
  margin: .3em;
}

.set-appt-btn, .status-btn {
  font-family: 'Zillah';
  font-size: 20px;
  margin-top: .5em;
  align-self: center;
  height: 13%;
  width: 90%;
  background-color: #8860D0;
  border: none;
  color: black;
  border-radius: 10px;
}

.set-appt-btn:hover, .status-btn:hover {
  background-color: #84CEEB;
  color: #8860D0;
  border: none;
  animation: glowing 2000ms infinite;
}
