.form-outter-ctn {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 10%;
  left: 28%;
  animation: fadein 200ms ease-in;
}

.form-inner-ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 40%;
  background-color: rgba(255, 255, 255, .8);
  z-index: 2;
  border-radius: .5em;
}

.form-inner-ctn div {
  padding: .5em .5em .5em .5em;
  display: flex;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 2em;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 85%;
  width: 60%;
  background-color: var(--light-purple);
  border-radius: .5em;
}

#form-subject, #form-descr {
  width: 85%;
}

#form-subject {
  height: 8%;
}

#form-descr {
  height: 40%;
}

.submit-ticket-btn {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 25px;
  height: 1.5em;
  width: 85%;
  background-color: var(--dark-purple);
  border: none;
  color: black;
  border-radius: 10px;
}

.submit-ticket-btn:hover {
  background-color: var(--medium-blue);
  color: var(--dark-purple);
  border: none;
  animation: glowing 2000ms infinite;
}
