.td-tik-ctn, .ld-tik-ctn {
  display: flex;
  flex-direction: column;
}

.td-tik, .ld-tik {
  display: flex;
  flex-direction: column;
  margin: .5em 1em .5em 1em;
  font-size: 1em;
  height: 4em;
  color: #000;
  border-radius: .2em;
  background-color: var(--dash-bg);
}

.td-tik:hover, ld-tik:hover {
  background-color: var(--light-purple);
  color: var(--light-blue);
  border: none;
}

.mdl-indv-tik {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 35%;
  height: 80%;
  right: 35%;
  bottom: 10%;
  background-color: var(--tik-modal);
  color: #000;
  background-color: rgba(255, 255, 255, .8);
}

.indv-tik {
  align-self: center;
  background-color: var(--light-purple);
  width: 70%;
  height: 80%;
}
